<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="edu.pe.idat.proyectomovil">

    <uses-permission android:name="android.permission.INTERNET" />

    <application

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProyectoMovil"
        >
        <activity
            android:name=".view.SplashActivity"
            android:exported="false" />

        <activity
            android:name=".view.MotorizadoActivity"
            android:exported="false" />

        <activity
            android:name=".view.LoginMotorizadoActivity"
            android:exported="false" />
        <activity
            android:name=".PasarellaActivity"
            android:exported="false" />
        <activity
            android:name=".CarritoSplashActivity"
            android:exported="false" />
        <activity
            android:name=".DireccionActivity"
            android:exported="false" />

        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCYE91oPxQtCQERUdiyuzqyUJY50N2inGw" />

        <activity
            android:name=".MapsActivity"
            android:exported="false"
            android:label="@string/title_activity_maps" />
        <activity
            android:name=".ResumencompraActivity"
            android:exported="false">

        </activity>
        <activity
            android:name=".CarritoActivity"
            android:exported="false" />
        <activity
            android:name=".DescripcionActivity"
            android:exported="false" />
        <activity
            android:name=".ListaProductosActivity"
            android:exported="false" />
        <activity
            android:name=".CategoryActivity"
            android:exported="false" />
        <activity
            android:name=".RegistroActivity"
            android:exported="false" />
        <activity
            android:name=".MenuActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>